#fade-in-hi {
	opacity: 0;
	animation: fadeInAnimation 1s ease-in-out forwards; /* Adjust duration as needed */
	animation-delay: 0.2s;
}

#fade-in-alex {
	opacity: 0;
	animation: fadeInAnimation 1s ease-in-out forwards;
	animation-delay: 1.5s; /* Adjust this value to set the delay */
	position: relative; /* Added position property */
	font-weight: 100; /* Maybe remove */
}

#fade-in-alex::after {
	content: '';
	position: absolute;
	width: 0;
	height: 5px;
	background-color: black;
	bottom: 7px;
	left: 0;
	animation: underlineAnimation 1.5s cubic-bezier(.18,0,.22,.99) forwards; /* TODO: MAKE THIS RESPONSIVE. Appears messed up on mobile */
	animation-delay: 3s;
}

#intro {
	padding-left: 5vw;
	padding-right: 5vw;
}