@import url("navbar.css");
@import url("footer.css");
@import url("page-styles/index.css");
@import url("page-styles/about.css");
@import url("slider.css");
@import url("page-styles/projects.css");

/* Shared styles */
body {
    margin: 0px;
    padding-top: 90px;
    font-family: "Montserrat", sans-serif;
	font-weight: 400;
    font-size: 20px;
}

.page-title {
	font-size: 64px;
	font-weight: 600;
}

/* Tiny screens */
@media (max-width: 350px) {

}


/* Small Phones */
@media (min-width: 351px) and (max-width: 554px) {
}

/* Large Phones */
@media (min-width: 554px) and (max-width: 890px) {
}

/* Tablets and Small Laptops */
@media (min-width: 890px) and (max-width: 970px) {
	/* TODO: Move these to just main */
	#intro {
		padding-left: 10vw;
		padding-right: 10vw;
	}
	
	.page-title {
		font-size: 64px;
		font-weight: 600;
	}	
}

/* Laptops and Desktops */
@media (min-width: 970px) {
	#intro {
		padding-left: 10vw;
		padding-right: 10vw;
	}
	
	.page-title {
		font-size: 64px;
		font-weight: 600;
	}	
}


/* Animations */
@keyframes fadeInAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* TODO: Reverse this as well */
@keyframes underlineAnimation {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes waveAnimation {
	 0% { transform: rotate( 0.0deg) }
	10% { transform: rotate(7.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
	20% { transform: rotate(-4.0deg) }
	30% { transform: rotate(7.0deg) }
	40% { transform: rotate(-2.0deg) }
	50% { transform: rotate(5.0deg) }
	60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

@keyframes fadeInHeightAllow {
	from {
		height: 0;
	}
	to {
		height: fit-content;
	}
	
}