/* Import breakpoints (TODO: Also use other variables). */
@import url("variables.css");

#alex-pic {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: 0 0 0 20px #757a79; /* Create a shadow effect to fill the border */
	/* https://stackoverflow.com/questions/36787529/how-to-fix-blurry-image-on-transform-scale */
    -webkit-backface-visibility: hidden; 
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
	image-rendering: pixelated;
	z-index: 1001;
}

#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    height: 90px;
    background-color: #757a79;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Spread the elements horizontally */
    padding: 0px 10px; /* Add some padding for better spacing */
	z-index: 1000;
}

.navbar-links {
	position: sticky;
    gap: 20px; /* Add spacing between links */
	height: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 20px;
	align-items: center; /* Center vertically within navbar */
	z-index: 1001;
}

.navbar-link {
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
	position: relative;
}

.navbar-link:hover {
    text-align: center;
    text-decoration: none;
    color: gold;
    font-weight: bold;
}

.inactive-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 5px;
    background-color: gold; /* Set the initial color for the underline */
    opacity: 0; /* Hide the element by default */
    bottom: 7px;
    left: 0;
}

.inactive-link:hover::after {
    content: '';
    position: absolute;
    height: 3px;
    background-color: gold;
    bottom: -2px;
    left: 0;
    animation: underlineAnimation 0.75s cubic-bezier(.18,0,.22,.99) forwards;
    animation-delay: 0.1s;
    opacity: 1; /* Show the element on hover */
}

#active-link {
	color: black;
	cursor: default;
}

#active-link::after {	/* Custom underline applied to current page link */
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    bottom: -2px;
    left: 0;
    animation-delay: 0.1s;
}

#name {
    font-size: 48px;
	z-index: 1001;
}

#menu-toggle {
	position: relative;
    background: none;
	color: inherit;
	border: none;
	top: -2px;
	padding: 0;
	margin-right: 20px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-size: 40px;
}


@media (max-width: 801px) {    
    #menu-toggle {
        display: none; /* Hide the menu toggle button */
    }
}


@media (min-width: 890px) {    
    #menu-toggle {
        display: none; /* Hide the menu toggle button */
    }
}

/* TODO: Define these in a separate sheet to allow for consistency */

/* Tiny screens */
@media (max-width: 350px) {
	#name {
		font-size: 26px;
	}
	
	#end-name {
		display: none;
	}

    .navbar-links {
		gap: 0px;
		font-size: 12px;
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: max-height 2s linear;
        position: absolute; /* Use absolute positioning to make it stick at the bottom */
        width: 100%;
		padding-left: 0;
		padding-right: 0;
		padding-top: 5px;
		padding-bottom: 10px;
        background-color: #757a79;
        z-index: 1002;
		justify-content: space-evenly;
        align-items: center;
    }

    .show {
        max-height: 500px;
        background-color: #757a79;
        position: absolute;
        visibility: visible;
        transition: max-height 2s linear;
        top: 90px;
        left: 0;
        right: 0;
    }
    
    .scrolled {
        top: 0;
    }
}

/* Minimum screen size */
@media (max-width: 351px) {
    #name {
		font-size: 26px;
	}
	
	#end-name {
		display: none;
	}
	
    #menu-toggle {
        display: block; /* Display the menu toggle button */
		font-size: 26px;
        height: 26px;
    }

    .navbar-links {
		gap: 0px;
		font-size: 16px;
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: max-height 2s linear;
        position: absolute; /* Use absolute positioning to make it stick at the bottom */
        bottom: 0;
        left: 0;
        width: 100%;
		padding-left: 0;
		padding-right: 0;
        background-color: #757a79;
        z-index: 1002;
        justify-content: space-evenly;
        align-items: center;
    }

    .show {
        max-height: 500px;
        background-color: #757a79;
        position: absolute;
        visibility: visible;
        transition: max-height 2s linear;
        top: 90px;
        left: 0;
        right: 0;
    }
    
    .scrolled {
        top: 0;
    }
}

/* Small Phones */
@media (min-width: 351px) and (max-width: 554px) {
	#name {
		font-size: 36px;
	}
	
	#end-name {
		display: none;
	}
	
    #menu-toggle {
        display: block; /* Display the menu toggle button */
		font-size: 36px;
    }

    .navbar-links {
		gap: 0px;
		font-size: 16px;
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: max-height 2s linear;
        position: absolute; /* Use absolute positioning to make it stick at the bottom */
        bottom: 0;
        left: 0;
        width: 100%;
		padding-left: 0;
		padding-right: 0;
        background-color: #757a79;
        z-index: 1002;
        justify-content: space-evenly;
        align-items: center;
    }

    .show {
        max-height: 500px;
        background-color: #757a79;
        position: absolute;
        visibility: visible;
        transition: max-height 2s linear;
        top: 90px;
        left: 0;
        right: 0;
    }
    
    .scrolled {
        top: 0;
    }
}

/* Large Phones */
@media (min-width: 554px) and (max-width: 890px) {
	#name {
		font-size: 40px;
	}
	
    #menu-toggle {
        display: block; /* Display the menu toggle button */
    }

    .navbar-links {
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: max-height 2s linear;
        position: absolute; /* Use absolute positioning to make it stick at the bottom */
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #757a79;
        z-index: 1002;
        justify-content: space-evenly;
        align-items: center;
    }

    .show {
        max-height: 500px;
        background-color: #757a79;
        position: absolute;
        visibility: visible;
        transition: max-height 2s linear;
        top: 90px;
        left: 0;
        right: 0;
    }
    
    .scrolled {
        top: 0;
    }
}

/* Tablets and Small Laptops */
@media (min-width: 890px) and (max-width: 970px) {
	#name {
		font-size: 40px;
	}
}

/* Laptops and Desktops */
@media (min-width: 970px) {

}