.uni-link {
    color: white;
	cursor: default;
}

.slider ul {
    list-style: none;
    padding: 0;
}

.slider li {
    margin-top: 5%;
}

.active-uni-link {
    font-weight: bold;
}

.slider {
    background-color: teal;
    max-width: 1400px;
    color: #fff;
    grid-template-columns: 35% 65%;
    position: relative;
    display: grid;
}

.slider-description {
    margin: auto;
    padding: 20px;
}

.slider-button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    position: absolute;
    left: 65%;
}

.slider-button:hover {
    background-color: #555; /* Change the color on hover */
}

#prev-slide-button {
    top: 5px; /* Positioned at top */
}

#next-slide-button {
    bottom: 5px; /* Position at bottom */
}

.slides {
    width: 100%; /* Take up full available width */
    overflow: hidden;
    max-height: 450px; /* TODO: Choose a good size, maybe responsive 100vh? */
    scrollbar-width: none;
}

.slide {
    min-height: calc(100% - 80px);
    background-color: skyblue;
    display: flex;
    padding: 40px;
    color: #333;
    align-items: center;
}

.slide-inner-grid {
    display: grid;
    grid-template-columns: 95% 5%;
    gap: 5px;
}

.inner_content {
    margin: auto 0 auto 0;
}

.slide-inner-grid h4 {
    margin-top: auto;
    margin-bottom: auto;
}

.slide:nth-child(even) {
    background-color: palegreen;
}

#download-uni-grades-button {
    position: absolute;
    bottom: 5px;
    background-color: white;
    border-radius: 25%;
    width: 64px;
    height: 64px;
}

/* Large Phones */
@media (min-width: 554px) and (max-width: 890px) {
}

/* */
@media (max-width: 745px) {  
}

/* Alt slider */
@media (max-width: 745px) {    
    .slider {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .slider-description {
        text-align: center;
    }

    .slides {
        max-height: 350px;
        padding-top: 0;
    }   

    .inner_content {
        margin: -20px 0 auto 0;
    }

    .slider-button {
        left: 50%;
    }

    #prev-slide-button {
        top: 285px;
    }
    
    #next-slide-button {
        bottom: 5px;
    }

    #download-uni-grades-button {
        position: absolute;
        top: 200px;
        left: 10px;
        background-color: white;
        border-radius: 25%;
        width: 64px;
        height: 64px;
    }
}

/* Small Phones */
@media (max-width: 554px) {
    #download-uni-grades-button {
        width: 42px;
        height: 42px;
        top: 178px;
    }
	
    #prev-slide-button {
        top: 262px;
    }

    .slide-title {
        font-size: 22px;
    }

    .slide-inner-grid {
        font-size: 16px;
    }
}

/* Tablets and Small Laptops */
@media (min-width: 890px) and (max-width: 970px) {    
    .slider {
        width: 100%;
    }
}

/* Laptops and Desktops */
@media (min-width: 970px) {
}