.timeline-container {
  margin-top: 20px;
  position: relative;
}

.timeline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 20px;
  height: 225px; /* Added to contain date labels */
}

.timeline-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: bold;
  margin-left: auto;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  text-align: center;
}

#timeline-line {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 60px);
  height: 10px;
  background-color: #007bff;
}

.event {
  position: relative;
  cursor: pointer;
  transition: opacity 0.2s;
}

.event-date {
  position: absolute;
  top: calc(80% + 10px);
  left: 50%;
  transform: translateX(-50%);
  color: #007bff;
  text-align: center;
}

.event:hover .tooltip {
  opacity: 1;
}

.icon {
  background-color: #007bff;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: box-shadow 0.3s ease;
}

.pulse {
  animation: pulseAnimation 4s ease-in-out infinite;
}

.icon .left,
.icon .right {
  z-index: 1000;
}

.icon h3 {margin:12px 0;}




/* Left tooltip styles */
/* TODO: Combine common styling */

.icon .left {
  max-height: 400px;
  overflow-y: auto;
  top: 50%;
  right: 100%;
  margin-right: 20px;
  transform: translate(0, -70%);
  padding: 0;
  color: #EEEEEE;
  background-color: #444444;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 1);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s;
}

.show-tooltip .left,
.show-tooltip .right,
.show-tooltip .central  {
  min-width:300px;
  max-width:400px;
  visibility: visible;
  opacity: 1;
}

.icon .left img {
  width: 400px;
  border-radius: 8px 8px 0 0;
}

.icon .tooltip-header {
  margin: 0px 20px;
}

.tooltip {
  z-index: 999999;
  width: fit-content;
}

.tooltip ul {
  list-style-type: disc; 
  list-style-position: inside; 
  margin: 0;
}

.text-content li {
  margin-top: 5px;
}

.text-content {
  padding: 0px 20px 10px 20px;
}

.icon .left i {
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -12px;
  width: 12px;
  height: 24px;
  overflow: hidden;
}

.icon .left i::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #444444;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}



/* Right styles */

.icon .right {
  max-height: 400px;
  overflow-y: auto;
  top: 50%;
  left: 100%;
  margin-left: 20px;
  transform: translate(0, -70%);
  padding: 0;
  color: #EEEEEE;
  background-color: #444444;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 1);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s;
  z-index: 5;
}

.show-tooltip .right {
  visibility: visible;
  opacity: 1;
}

.icon .right img {
  width: 400px;
  border-radius: 8px 8px 0 0;
}

.icon .tooltip-header {
  margin: 0px 20px;
}

.tooltip {
  z-index: 999999;
  width: fit-content;
}

.tooltip ul {
  list-style-type: disc;
  list-style-position: inside;
  margin: 0;
}

.icon .right i {
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -12px;
  width: 12px;
  height: 24px;
  overflow: hidden;
}

.icon .right i::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #444444;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}



/* Central tooltip styles */

.icon .central {
  max-height: 400px;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  padding: 0;
  color: #EEEEEE;
  background-color: #444444;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 1);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s;
  z-index: 5;
}

.show-tooltip .central {
  visibility: visible;
  opacity: 1;
}

.icon .central .tooltip-header {
  margin: 0px 20px;
}

.icon .central i {
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -12px;
  width: 12px;
  height: 24px;
  overflow: hidden;
}

.icon .central i::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #444444;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

/*
.uni {
  color: purple;
} TODO: decide on this, or the way it currently is
*/
.uni-pulse {
  animation: pulseAnimation 4s ease-in-out infinite;
  /* animation: altPulseAnimation 4s ease-in-out infinite; */
}

@media (max-width: 350px) {
  .icon {
    width: 20px;
    height: 20px;
  }

  #timeline-line {
    height: 8px;
  }

  .timeline-title {
    font-size: 16px;
  }

  .event-date {
   font-size: 14px; 
  }

  .text-content {
    padding: 0px 10px 10px 10px;
  }
}

@media (max-width: 500px) {    
  .show-tooltip .left,
  .show-tooltip .right,
  .show-tooltip .central {
    min-width:225px;
    max-width:400px;
  }

  .tooltip li {
    margin-left: -20px;
  }
}

@media (max-width: 385px) {
  .icon .left,
  .icon .right,
  .icon .central {
    min-width: 55vw;
    max-width: 55vw;
  }
}

@keyframes pulseAnimation {
    0% {
        background-color: #007bff;
    }
	50% {
        background-color: #007bff;
    }
    75% {
        background-color: orange;
    }
    100% {
        background-color: #007bff;
    }
}

@keyframes altPulseAnimation {
  0% {
      background-color: #007bff;
  }
50% {
      background-color: #007bff;
  }
  75% {
      background-color: purple;
  }
  100% {
      background-color: #007bff;
  }
}