.terminal {
    margin: 20px auto 20px auto;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 18px;
    opacity: 0;
    height: 0;
    width: 80%;
    background-color: #300a24;
    border-radius: 5px;
    padding: 0 5px 10px 5px;
    /* TODO: get this working. Appear after the other fadeIn
    height: 0;
    animation: fadeInHeightAllow 0.25s linear 2s forwards; */
    animation: fadeInAnimation 1s ease-in-out forwards 3s,
        fadeInHeightAllow 0.5s linear 3s forwards;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    margin: 0 -5px 10px -5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 20px;
}

.title {
    margin: auto auto auto auto;
    color: white;
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 5px;
}

.terminal-button {
    background: none;
    border: solid 1px #181818;
    border-radius: 20%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: default;
    outline: none;
    width: 32px;
    height: 32px;
}

.prompt {
    display: inline;
    align-items: center;
    margin: 0 2px 5px 2px;
    width: 100%;
}

.input-prefix {
    font-weight: bold;
    color: #26a166;
    margin-right: 5px;
}

.input-colon {
    color: white;
}

.input-path {
    color: #13488a;
}

.dollar-sign {
    color: white;
}

#command-input {
    color: white;
    font-weight: normal;
    word-wrap: break-word; /* TODO: Maybe remove. This is realistic, but doesn't read amazingly */
}

#command-cursor {
    color: white;
    font-weight: normal;
}


/* Tiny screens */
@media (max-width: 350px) {
}

/* Small Phones */
@media (min-width: 351px) and (max-width: 554px) {
}

/* Large Phones */
@media (min-width: 554px) and (max-width: 890px) {
}

/* Tablets and Small Laptops */
@media (min-width: 890px) and (max-width: 970px) {
}

/* Laptops and Desktops */
@media (min-width: 970px) {
}