/* Shared styles */
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
	font-weight: 400;
    font-size: 20px;
}

#alex-pic {
    width: 75px;
    height: 75px;
    padding: 5px;
    border-radius: 50%;
}

#navbar {
    height: 90px;
    background-color: #757a79;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Spread the elements horizontally */
    padding: 0 10px; /* Add some padding for better spacing */
}

.navbar-links {
    gap: 20px; /* Add spacing between links */
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 20px;
}

.navbar-link {
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar-link:hover {
    text-align: center;
    text-decoration: none;
    color: gold;
    font-weight: bold;
}

#active-link {
	color: black;
	cursor: default;
}

#name {
    font-size: 48px;
}

#menu-toggle {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-size: 40px;
}

/* Mobile Media Queries */
@media (max-width: 800px) {
    #menu-toggle {
        display: block; /* Display the menu toggle button */
    }

    .navbar-links {
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: max-height 0.3s ease-in-out;
        position: absolute; /* Add absolute positioning */
        top: 90px; /* Position the menu below the navbar */
        left: 0;
        width: 100%;
        background-color: #757a79;
        z-index: 1000;
        justify-content: space-evenly; /* Center the items vertically */
        align-items: center; /* Center the items horizontally */
    }

    .show {
        max-height: 500px;
        background-color: #757a79;
        position: absolute;
        visibility: visible;
        transition: max-height 0.3s ease-in-out;
        top: 85px;
        left: 0;
        right: 0;
        z-index: 1000;
    }
}


/* Desktop Media Query */
@media (min-width: 801px) {
    .navbar-links {
        display: flex; /* Display the regular links */
    }
    
    #menu-toggle {
        display: none; /* Hide the menu toggle button */
    }
	
	#intro {
		padding-left: 20vw;
		padding-right: 20vw;
	}
	
	.section-title {
		font-size: 64px;
		font-weight: 600;
	}
	
	.section-title2 {
		font-size: 64px;
		font-weight: inherit;
	}
	
	
}