body{
    justify-content: center;
    font-family: sans-serif;
    align-items: center;
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0 40px;
}

p{
    line-height: 1.4;
}

a{
    color: inherit;
}

ul{
    list-style: none;
    padding: 0;
}

ul > * + *{
    margin-top: 10px;
}

li{
    display: block;
}

li a.active{
    font-weight: bold;
}

.slider{
    background-color: teal;
    max-width: 1400px;
    color: #fff;

    grid-template-columns: 35% 65%;
    position: relative;
    display: grid;

}

.slider .content_container{
    margin: auto;
    padding: 20px;
}

#prevSlide {
    top: 2px; /* Position the 'prev' button at the top */
}

#nextSlide {
    bottom: 2px; /* Position the 'next' button at the bottom */
}

.slider-button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px; /* Adjust the width to your preference */
    height: 40px; /* Adjust the height to your preference */
    font-size: 24px; /* Adjust the font size to your preference */
    position: absolute;
    left: 65%; /* Adjust the left position for spacing */
}

.slider-button:hover {
    background-color: #555; /* Change the color on hover */
}

.slider .slides {
    width: 100%; /* Set a fixed width to ensure uniform size */
    overflow: hidden; /* Hide overflow content */
    max-height: 500px; /* Adjust the maximum height as needed */
    scrollbar-width: none;
}

.slider .slides::-webkit-scrollbar{
    display: none;
}

.slider .slides .slide{
    min-height: calc(100% - 80px);
    background-color: skyblue;
    display: flex;
    padding: 40px;
    color: #333;
    align-items: center;
}

.slide-title {
    
}

.slide-inner-grid {
    display: grid;
    grid-template-columns: 95% 5%;
    gap: 5px;
}

.slide-inner-grid h4 {
    margin-top: auto;
    margin-bottom: auto;
}

.slider .slides .slide:nth-child(even){
    background-color: palegreen;
}

#download-uni-grades {
    position: absolute;
    bottom: 0;
    margin: 20px    ;
    background-color: white;
    border-radius: 25%;
    width: 64px;
    height: 64px;
}