#about-section {
	padding-top: 20px;
}

#fade-in-about1 {
	opacity: 0;
	animation: fadeInAnimation 1s ease-in-out forwards;
	animation-delay: 0.2s;
}

#fade-in-about2 {
	opacity: 0;
	animation: fadeInAnimation 1s ease-in-out forwards;
	animation-delay: 1.5s;
	position: relative; 
}

#fade-in-about3 {
	opacity: 0;
	animation: fadeInAnimation 1s ease-in-out forwards;
	animation-delay: 2.5s;
	position: relative; 
}

.fade-in-about3 {
	opacity: 0;
	animation: fadeInAnimation 1s ease-in-out forwards;
	animation-delay: 4s;
	position: relative; 
}

.fade-in-section {
    opacity: 0;
    transform: translateY(75px);
    transition: opacity 2s ease, transform 1s ease;
}

.fade-in-section.active {
    opacity: 1;
    transform: translateY(0);
}

.image-container {
    position: relative;
}

#me-pic {
    width: 100%;
    height: 100%;
	/* Crop horizontally toward the center */
	object-fit: cover; /* THIS WORKS SO MUCH BETTER, keeps aspect ratio and also transitions smoothly */
    object-position: 47.5% 50%;
}

#animation-container {
	opacity: 0;
	transition: opacity 1s;
	min-height: 0px;	/* TODO: Set this responsively */
	transition: min-height 1s;
	max-height: fit-content;
}

#animation-content {
	font-family: monospace;
	color: white;
	background-color: #1f1f1f;
}

.about-link {
	color: black;
	cursor: default;
}

#about-overview {
	justify-content: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

.about-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about-card-description {
	flex: 1;
	width: 100%
}

.about-card-alt {
	display: none;
    grid-column: span 2; /* Span from the first to the last column */
}

ul {
	list-style-type: none;
}

#skills-section {
	padding-top: 20px;
	flex-direction: column; /* Stack the items vertically on small screens */
    align-items: center; /* Center-align items horizontally */
}

#skills-overview {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    gap: 20px;
}

.section-title {
	text-align: center;
}

.skill-card {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    flex: 1; /* Allow cards to distribute available space equally */
    display: flex; /* Use flexbox to vertically center content */
    flex-direction: column; /* Stack elements within the card */
    justify-content: center; /* Center content vertically */
	max-height: 150px;
	max-height: 150px;
}

.skill-card:hover {
	animation: growOnHoverAnimation 4s infinite,
		waveSkillAnimation 2s forwards 0.5s;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.skill-card h4 {
	margin: 0;
	font-size: 1.2rem;
	color: #333333;
	word-wrap: break-word; /* Allow text to wrap within the card, not yet working fully */
}

#uni-section {
	padding-top: 20px;
}

.uni-link {
	text-decoration: none;
}

.uni-year {
	border-top: 1px solid #333333;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#uni-prediction {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
}

.slider {
	margin: 0 auto 0 auto;
	width: 80%;
}

@media (max-width: 295px) {
}

/* Tiny screens */
@media (max-width: 554px) {
	.about-card-description-remove {
		display: none;
	}

	.about-card-alt {
		display: block;
	}
}

@media (max-width: 650px) {
	#about-overview {
		justify-content: center;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 5px;
	}
}

/* Small Phones */
@media (min-width: 351px) and (max-width: 554px) {
}

/* Large Phones */
@media (min-width: 554px) and (max-width: 890px) {
}

/* Tablets and Small Laptops */
@media (min-width: 890px) and (max-width: 970px) {

}

/* Laptops and Desktops */
@media (min-width: 970px) {
}