#about-section {
	padding-left: 10vw;
	padding-right: 10vw;
	padding-bottom: 40px;
}

#fade-in-about1 {
	opacity: 0;
	animation: fadeInAnimation 1s ease-in-out forwards;
	animation-delay: 0.2s;
}

.image-container {
    position: relative;
    width: 100%;
	height: 100%;
}

#me-pic {
    width: 100%;
    height: 100%;
	/* Crop horizontally toward the center */
	object-fit: cover; /* THIS WORKS SO MUCH BETTER, keeps aspect ratio and also transitions smoothly */
    object-position: center;
}

#fade-in-about2 {
	opacity: 0;
	animation: fadeInAnimation 1s ease-in-out forwards;
	animation-delay: 1.5s;
	position: relative; 
}

#fade-in-about3 {
	opacity: 0;
	animation: fadeInAnimation 1s ease-in-out forwards;
	animation-delay: 2.8s;
	position: relative; 
}

#animation-container {
	opacity: 0;
	transition: opacity 1s;
	min-height: 0px;	/* TODO: Set this responsively */
	transition: min-height 1s;
	max-height: fit-content;
}

#animation-content {
	font-family: monospace;
	color: white;
	background-color: #1f1f1f;
}

.about-link {
	color: black;
	cursor: default;
}

#about-overview {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

ul {
	list-style-type: none;
}

#skills-section {
	flex-direction: column; /* Stack the items vertically on small screens */
    align-items: center; /* Center-align items horizontally */
	padding-left: 10vw;
	padding-right: 10vw;
	padding-bottom: 40px;
}

#skills-overview {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    gap: 20px;
}

.section-title {
	text-align: center;
}

.skill-card {
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    flex: 1; /* Allow cards to distribute available space equally */
    display: flex; /* Use flexbox to vertically center content */
    flex-direction: column; /* Stack elements within the card */
    justify-content: center; /* Center content vertically */
	max-height: 150px;
	max-height: 150px;
}

.skill-card h4 {
	margin: 0;
	font-size: 1.2rem;
	color: #333333;
	word-wrap: break-word; /* Allow text to wrap within the card, not yet working fully */
}

#uni-section {
	padding-left: 10vw;
	padding-right: 10vw;
	padding-bottom: 40px;
}

.uni-year {
	border-top: 1px solid #333333;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#uni-prediction {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
}


.uni-year > * {
	text-align: center;
	margin: auto;
}

/* Mobile Media Queries */
@media (max-width: 800px) {

}



/* Desktop Media Query */
@media (min-width: 801px) {
	
}