#contact-form-container {
    
}

#contact-form {
    margin-bottom: 20px;
}

.contact-row {
    margin: 10px 0px;
    width: 100%;
}

.contact-row input,
.contact-row textarea,
.contact-row select,
#contact-form button  {
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    font: inherit;
}

.contact-row textarea {
    min-height: 120px;
}

.contact-row label {
    justify-self: center;
}