#fade-in-hi {
	opacity: 0;
	animation: fadeInAnimation 1s ease-in-out forwards; /* Adjust duration as needed */
	animation-delay: 0.2s;
	top: -10px;
}

#fade-in-alex {
	opacity: 0;
	animation: fadeInAnimation 1s ease-in-out forwards;
	animation-delay: 1.5s;
	position: relative;
	font-weight: 100;
}

#fade-in-end {
	opacity: 0;
	animation: fadeInAnimation 1s ease-in-out forwards;
	animation-delay: 3.5s;
	position: relative;
	font-weight: 100; /* Maybe remove */
}

#fade-in-alex::after {
	content: '';
	position: absolute;
	width: 0;
	height: 5px;
	background-color: black;
	bottom: 7px;
	left: 0;
	animation: underlineAnimation 1.5s cubic-bezier(.18,0,.22,.99) forwards; /* TODO: MAKE THIS RESPONSIVE. Appears messed up on mobile */
	animation-delay: 3s;
}

#fade-in-wave {
	display: inline-block; /* KEEP THIS. Needs this for the animation to work. */
	opacity: 0;
    animation: fadeInAnimation 1s ease-in-out forwards 3.5s,
		waveAnimation 2s infinite 4.5s;
	transform-origin: bottom right;
	position: relative;
	top: -5px;
}

.fade-in-index-content_1 {
	height: 0;
	opacity: 0;
	animation: fadeInAnimation 1s ease-in-out forwards 5.5s,
	fadeInHeightAllow 0.1s linear forwards 4.5s;
}

.fade-in-index-content_2 {
	height: 0;
	opacity: 0;
	animation: fadeInAnimation 1s ease-in-out forwards 7.5s,
	fadeInHeightAllow 0.1s linear forwards 6.5s;
}

.fade-in-index-content_3 {
	height: 0;
	opacity: 0;
	animation: fadeInAnimation 1s ease-in-out forwards 9.5s,
	fadeInHeightAllow 0.1s linear forwards 8.5s;
}

.fade-in-index-content_4 {
	height: 0;
	opacity: 0;
	animation: fadeInAnimation 1s ease-in-out forwards 11.5s,
	fadeInHeightAllow 0.1s linear forwards 10.5s;
}

#intro {
	
}

/* TODO: Sort this, currently just a workaround to make "I'm Alex" better on screens <295px wide*/
@media (max-width: 295px) {
	#fade-in-hi {
		font-size: 48px;
	}

	#fade-in-alex::after {
		height: 4px;
		bottom: 3px;
	}
}

/* Tiny screens */
@media (max-width: 350px) {

}


/* Small Phones */
@media (min-width: 351px) and (max-width: 554px) {
}

/* Large Phones */
@media (min-width: 554px) and (max-width: 890px) {
}

/* Tablets and Small Laptops */
@media (min-width: 890px) and (max-width: 970px) {
	#intro {
	}
	
	.page-title {
		font-size: 64px;
		font-weight: 600;
	}	
}

/* Laptops and Desktops */
@media (min-width: 970px) {
	#intro {
	}
	
	.page-title {
		font-size: 64px;
		font-weight: 600;
	}	
}