#projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    gap: 0.5vw;
    margin: 0 -2.5vw 30px -2.5vw;
}

.project-link {
    text-align: center;
    text-decoration: none;
    color: black;
}

.project-card {
    flex: 1;
    min-width: 250px;
    max-width: 350px;
    border-radius: 5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin: 5px;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.3s ease;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4); /* Change shadow on hover */;
}

.project-pic {
    height: 250px; /* TODO: Definitely increase this later */
    width: 100%;
    border-radius: 5% 5% 0 0;
    background-color: black; /* TODO: Remove when pictures have been added */
    object-fit: cover;
}

.project-text {
    flex: 1;
    padding: 10px;
    border-radius: inherit;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.project-header {
    font-size: 18px;
    text-align: center;
    margin-top: 0;
}

.project-desc {
    font-size: 16px;
    text-align: center;
    margin: auto;
}

/* Styles for individual project pages */

.project-section {
    font-size: 18px;
}

.project-page-header {
    display: grid;
    grid-template-columns: 2fr 0.1fr;
}

.project-github {
    border-radius: 20%;
    height: 48px;
    width: 48px;
    margin-left: 10px;
}

.project-header-links {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.code-block {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 50vw 40vw;
}

.code-block-right {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 30vw 60vw;
}

.code-block p,
.code-block-right p {
    margin: auto 5px;
}

.code-wrap {
    overflow-wrap: break-word;
}

/*Shopping-list TODO: move to its own? */

.tabs {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 0;
}

.tab {
    margin: 0 20px;
}

.tab a {
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.tab a:hover {
    background-color: #0056b3;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}


@media (max-width: 630px) {
    .project-card {
        width: 400px;
    }
}

@media (max-width: 830px) {
	.code-block,
	.code-block-right {
        display: block;
        margin-top: 50px;
        border: 0.5px solid #f2f3f2;
        padding: 10px;
	}	
}

@media (max-width: 1292px) {
    .code-block {
        font-size: 16px;
    }
}