#projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5vw;
}
.project-card {
    width: 300px;
    flex: 1;
    border-radius: 2%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

.project-pic {
    height: 150px; /* TODO: Definitely increase this later */
    width: 100%;
    background-color: black; /* TODO: Remove when pictures have been added */
}

.project-text {
    padding: 10px;
    background-color: white;
}

.project-header {
    font-size: 18px;
    text-align: center;
    margin-top: 0;
}

.project-desc {
    font-size: 16px;
    text-align: center;
    margin-bottom: 0;
}