#projects-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    justify-items: center; /* Center items horizontally */
    gap: 0.5vw;
    margin: 0 -2.5vw 30px -2.5vw;
}

.project-link {
    text-align: center;
    text-decoration: none;
    color: black;
}

.project-card {
    width: 300px;
    border-radius: 5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin: 5px;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.3s ease; /* Add transition for mouse-over */
}

.project-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4); /* Change shadow on hover */;
}

.project-pic {
    height: 250px; /* TODO: Definitely increase this later */
    width: 100%;
    border-radius: 5% 5% 0 0;
    background-color: black; /* TODO: Remove when pictures have been added */
    object-fit: cover;
}

.project-text {
    flex: 1;
    padding: 10px;
    border-radius: inherit;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.project-header {
    font-size: 18px;
    text-align: center;
    margin-top: 0;
}

.project-desc {
    font-size: 16px;
    text-align: center;
    margin: auto;
}

/* Styles for individual project pages */

.project-page-header {
    display: grid;
    grid-template-columns: 2fr 0.1fr;
}

.project-github {
    border-radius: 20%;
    height: 48px;
    width: 48px;
    margin-left: 10px;
}

.project-header-links {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.project-section-template {
    
}